/* Grundlegende Stile */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header-Stile */
header {
    background-color: #002E5E; /* Dunkelblau */
    color: white;
    padding: 20px 0; /* Padding für Header */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Flexbox ausrichten, um Logo und Text links anzuordnen */
}

header .logo {
    margin-left: -250px; /* Abstand zwischen Logo und Text */
}

header .logo img {
    height: 150px; /* Erhöhte Logo-Höhe auf 150px */
}

header a {
    font-size: 2em; /* Größere Schriftgröße */
    margin-right: 20px; /* Abstand zwischen den Links im Header */
    text-decoration: none; /* Keine Unterstreichung */
    color: #F7951B; /* Linkfarbe auf orange setzen */
}

header a:hover {
    color: #F7951B; /* Hover-Farbe für Header-Links */
}

nav {
    margin: 0 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #F7951B; /* Orange */
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #f4f4f4;
    color: #002E5E;
    border-radius: 5px;
}

/* Dropdown-Stile */
.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Zeige das Dropdown-Menü beim Hover an */
}

.dropdown-menu {
    display: none; /* Standardmäßig nicht anzeigen */
    position: absolute; /* Positionierung */
    background-color: #002E5E; /* Hintergrundfarbe */
    border: 1px solid #e68a00; /* Rand */
    border-radius: 0.25rem; /* Abgerundete Ecken */
    z-index: 1000; /* Über andere Elemente legen */
}

.dropdown-item {
    padding: 0.5rem 1rem; /* Innenabstand */
    color: #e68a00; /* Textfarbe */
}

.dropdown-item:hover {
    background-color: #f8f9fa; /* Hintergrundfarbe beim Hover */
    color: #007bff; /* Textfarbe beim Hover */
}

.search-bar {
    margin-right: -250px;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

/* Container für Blog-Beiträge */
.container {
    display: flex;
    margin-top: 20px;
    padding: 0 20px; /* Angepasster Padding für mehr Platz links und rechts */
}

/* Blog-Beiträge */
.blog-posts {
    flex: 10;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap; /* Ermöglicht das Umbrechen der Posts in die nächste Zeile */
    gap: 20px; /* Abstand zwischen den Posts */
}

/* Allgemeine Post-Styles */
.post, .sendung-post {
    background-color: #002E5E; /* Dunkelblau */
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: calc(48% - 20px); /* 2 Posts nebeneinander bei mittleren Bildschirmen */
    box-sizing: border-box;
    overflow: hidden; /* Versteckt überlaufenden Text */
    position: relative; /* Für absolute Positionierung der Pfeile */
}

/* Pfeil-Stile */
.arrow {
    position: absolute; /* Positioniert den Pfeil relativ zum Post */
    top: 50%; /* Vertikal zentrieren */
    transform: translateY(-50%); /* Zentrierung */
    font-size: 2em; /* Größe der Pfeile */
    color: #F7951B; /* Pfeilfarbe */
    cursor: pointer; /* Zeiger-Cursor beim Hover */
}

.arrow.left {
    left: -40px; /* Abstand von der linken Seite */
}

.arrow.right {
    right: -40px; /* Abstand von der rechten Seite */
}

/* Textbegrenzung für Posts */
.text {
    max-height: 4.5em; /* Maximale Höhe für 3 Zeilen */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.text.expand {
    max-height: none; /* Volle Höhe anzeigen, wenn expandiert */
}

/* Media Queries für verschiedene Bildschirmgrößen */
@media (max-width: 1024px) {
    .post, .sendung-post {
        width: calc(48% - 20px); /* 2 Posts nebeneinander bei mittleren Bildschirmen */
    }
}

@media (max-width: 600px) {
    .post, .sendung-post {
        width: calc(100% - 20px); /* 1 Post pro Zeile bei kleinen Bildschirmen */
    }
}

/* Header in Posts */
.post .header {
    display: flex;
    align-items: center;
}

.post .header img, .sendung-post-header .avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

/* Mediencontainer */
.video-container, .audio-container {
    margin-top: 10px;
}

.audio-player {
    width: 100%;
    border-radius: 5px;
    outline: none;
}

.likes {
    margin-top: 10px;
    color: #999;
}

/* Links im Post-Text */
.post a, .sendung-post a {
    color: white; /* Linkfarbe in Posts auf weiß setzen */
    text-decoration: none; /* Keine Unterstreichung */
}

/* Hover-Effekt für Links in den Posts */
.post a:hover, .sendung-post a:hover {
    color: #F7951B; /* Farbe beim Hover auf die Headerfarbe ändern */
}

/* Header-Nickname Links */
.header a {
    color: white; /* Linkfarbe des Nicknames auf weiß setzen */
    text-decoration: none; /* Keine Unterstreichung */
}

/* Hover-Effekt für den Nickname-Link */
.header a:hover {
    color: #F7951B; /* Farbe beim Hover auf die Headerfarbe ändern */
}

/* Seiteninformationen */
aside.info-area {
    flex: 2;
    background-color: #003366; /* Dunklerer Blauton für den Aside-Bereich */
    color: #002E5E; /* Hellerer Farbton für den Text */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Kopfzeilen im Aside-Bereich */
.info-area h3 {
    color: #F7951B; /* Überschrift in Orange */
}

/* Personeninformationen */
.person {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.person img {
    border-radius: 50%;
    margin-right: 10px;
    height: 100px; /* Profilbildgröße */
    width: 100px;
}

/* Kontaktformular */
.contact-form input[type="text"], .contact-form textarea {
    border: 1px solid #ccc; /* Rahmen für Eingabefelder */
    border-radius: 5px; /* Abgerundete Ecken */
    padding: 10px; /* Innenabstand */
    width: 100%; /* Breite der Eingabefelder */
}

.contact-form textarea {
    height: 80px; /* Höhe des Textbereichs */
    margin-bottom: 10px; /* Abstand nach unten */
}

.contact-form input[type="submit"] {
    padding: 10px 15px;
    background-color: #F7951B; /* Orange */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #e68a00; /* Dunklere Farbe beim Hover */
}


/* Footer-Stile */
footer {
    background-color: #002E5E; /* Dunkelblau */
    color: #e68a00;
    text-align: center;
    padding: 20px 0; /* Erhöhtes Padding für mehr Höhe */
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Zentriert den Inhalt im Footer */
    align-items: center; /* Zentriert den Inhalt vertikal */
}

/* Footer Links */
footer .nav-link {
    color: #e68a00; /* Schriftfarbe */
    text-decoration: none; /* Keine Unterstreichung */
    padding: 0 10px; /* Abstand zwischen Links */
}

footer .nav-link:hover {
    text-decoration: underline; /* Unterstreichen beim Hover */
}

/* Hashtag-Button */
.hashtag-button {
    background-color: #007BFF; /* Blauer Farbton */
    color: white;
    padding: 1px 1px;
    border-radius: 5px;
    text-decoration: none;
}
