body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #002E5E;
    color: white;
    padding: 20px 0; /* Erhöht den vertikalen Padding */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    height: 100px; /* Verdoppelt die Höhe des Logos */
    margin-left: 20px;
}

nav {
    margin: 0 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 30px; /* Erhöht den horizontalen Abstand */
}

nav ul li a {
    color: #F7951B;
    text-decoration: none;
    padding: 10px 20px; /* Erhöht das Padding für bessere Klickfläche */
    font-size: 1.5em; /* Verdoppelt die Schriftgröße */
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #f4f4f4;
    color: #002E5E;
    border-radius: 5px;
}

.search-bar {
    margin-right: 20px;
}

.search-bar input {
    padding: 10px; /* Erhöht das Padding */
    border: none;
    border-radius: 5px;
}

.album {
    padding: 30px; /* Erhöht den Padding um mehr Raum zu geben */
}

.card {
    transition: transform 0.2s; /* Hinzufügen von Hover-Effekten */
}

.card:hover {
    transform: scale(1.02);
}

.card h3 {
    font-size: 1.5em; /* Titelgröße anpassen */
}

.card-body {
    margin-top: 10px; /* Margin anpassen */
}

footer {
    background-color: #002E5E;
    color: white;
    text-align: center;
    padding: 10px 0; /* Footer-Padding */
}

.person {
    display: flex;
    align-items: center;
    margin: 10px 0; /* Abstand zwischen den Personen */
}

.person img {
    border-radius: 50%; /* Rundes Bild */
    margin-right: 10px; /* Abstand zwischen Bild und Text */
}
